.dashboard-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.income { background: #12e76b;   font-weight: bold; }
.expense { background: #e74c3c;   font-weight: bold; }
.balance { background: #3498db; font-weight: bold;  }