<div class="app-container">
  <div class="page-header">
    <div>
      <div class="title">Dashboard</div>
      <div class="subtitle">Overview of income, expenses and current balance</div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card stat h-100">
        <div class="label">Total Income</div>
        <div class="value">
          <span class="muted">💰</span>
          <span class="income-amount">{{ summary.totalIncome | currency:'INR' }}</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card stat h-100">
        <div class="label">Total Expense</div>
        <div class="value">
          <span class="muted">🛒</span>
          <span class="expense-amount">{{ summary.totalExpense | currency:'INR' }}</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card stat h-100">
        <div class="label">Balance</div>
        <div class="value">
          <span class="muted">🔁</span>
          <span [ngClass]="{ 'positive': summary.balance >= 0, 'negative': summary.balance < 0 }">{{ summary.balance | currency:'INR' }}</span>
        </div>
      </div>
    </div>
  </div>

 <div class="card mt-3">
  <h3>Expense by Category</h3>

  <canvas baseChart
    [datasets]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    [options]="pieChartOptions">
  </canvas>
</div>


</div>